@import "variables";
/*album index*/
$estilos:(
    color: white,
    color2:blue,
    color3:rgb(39, 204, 163),
    color4: black,
    tFuentedesk:16px,
    titMob:18px,
    titdesk: 22px,
    bordes:ridge 2px gray,
    margin: 10px 0px,
      
);
.container__texto{
    border: map-get($estilos ,bordes);
    margin:map-get($estilos , margin );
    background-color: map-get($estilos , color3 );
}   