@import "variables";

.carousel{
    padding: 0;
    &__titulo{
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    }
    &__texto{
        font-size: 22px;
    }
}