@import "variables";

.footer{
    margin-top: 40px;
    background-color: $rgbalbum;
    border-top: solid 3px;
    border-color:$border1nav;
    &__row{
        display: flex;
        align-content: space-between;
        
    }
    
    &__titulo{
        @media only screen and (min-width:780px) {
            font-size: 22px;
            font-family: revert;     
        }
        color: $blanco;
        font-size: 25px;
        font-family: revert;
        padding: 10px;
        margin: 10px 5px;
        text-align: center;
    }
    &__texto{
        padding:0px 10px;
        font-size: 20px;
        text-align: center;
        color:  $blanco;
        &__datos{
            padding: 0px 10px;
            font-size: 20px;
            text-align: center;
            color:$blanco;
        }
    }
    &__links{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        &__logo{
            width: 40px;
            height: auto;
            margin-bottom: 10px;
        }
    }
    &__derechos{
        text-align: center;
        border-top:solid 3px;
        border-color: $border1nav;
        &__texto{
            color: white;
            font-family: "revert";
            font-size: 20px;
            padding: 5px;
            box-sizing: border-box;
            @media only screen and (max-width:480px) {
                font-size:27px;
                font-family: "revert"
                ;
            }
        }
    }
}