@import "variables";
.contenedor__nav{ 
    border-bottom:solid 4px transparent ;
    border-color:$border1nav ;
    @media only screen and (max-width:480px) {
        border: none;
    }
    @media only screen and (min-width:481px){
        position: sticky;
        z-index: 999;
        top: 0;
        padding-right:0px ;
    }
}
.logo{
    &--tamanio{
        width: 60px;
        height: auto;
        margin: 0;
        @media screen and (max-width:480px){
            width: 70px;
            align-items: flex-end;
        }
    }
}
.navbar{
    @media only screen and (min-width:720px){
        background:$rgbalbum;
        
    }    
        &-collapse{
            @media  only screen and (max-width: 480px){
                background-color:$rgbalbum;
            }
        }
        &-toggler{
           background-image:linear-gradient( $rgbnav1) ;
        }
}
.nav{
    &-link{ 
        color: #008F90 !important ;
        font-family: monospace;
        transition:all 0s;
    }
    &--tamanio{
        @media only screen and (min-width:780px){
            font-size: $pdesktop;
        }
        @media only screen and (max-width:480px){
            margin: 0px 15px ;
        }
    }
    &--item{
        padding:0px 7px;
        transition: all 0s;
    }
    &-link:hover{
        color: white !important;
        border-top: solid 3px;
        border-bottom: solid 3px;
    }
}