@import "variables";
.eventos__body{
    background-image: url(../assets/img/eventos.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}
.titulo__encabezado{
    font-family: "revert" ;
    margin-top: 10px;
    font-size: 43px;
    color: white;
    text-align: center;
    @media only screen and (max-width:480px){
        font-size: 33px;
    }
} 
.tabla{
    margin-bottom: 30px;
    padding: 5px;
    box-sizing: border-box;
    border:solid 2px;
    border-color: white;
    width: 100%;
    @media only screen and (min-width:1022px){
        margin: 30px;    
    }
    &__texto{
            color: white;
            font-size: 22px;
    }
    &__item{
        color: white;

    }
}