@import "variables";
.tabla{
    justify-content: space-around;
    &__titulo1{
        text-align: center;
        color: $blanco;
        padding: 10px;
        background-image: linear-gradient($rgbesp );
        transition: all 2s ;
    }
    &__titulo1:hover{
        transform: translatey(8px);
    }
    &__titulo2{
        text-align: center;
        padding: 10px;
        background-image: linear-gradient($rgbarg);
        transition: all 2s;
    }
    &__titulo2:hover{
        transform: translateY(8px);
    }
    &__texto{
       font-family: Arial, Helvetica, sans-serif;
       font-size: 20px;
    }
    &__parrafo{
        position: relative;
        border: solid 2px black;
        clear: none;
       
    }
    &__img{
        padding-bottom: 20px;
       
    }
}
