/*colores*/
$negro:#120f0d;
$rgbalbum:#36393c;
$rgb3:#1c1c1c ;
$rgbbottom:#eaa928;
$rgbnav: (#1d8b66,#0c3037,#719b65);
$rgbnav1: (#0c2642,#225250);
$rgb4:  #052b4d;
$azul: blue;
$amarillo: #fffb46;
$rojo: red;
$blanco:white;
$gris:gray;
$rgbesp:(red,yellow,red);
$rgbarg: (#75AADB,white,#75AADB);
$rgbenviar:#31384A;


/*fuentes*/
$pdesktop:20px;
$pmobile: 10px